In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    "Salary": [4000, 4200, 4100, 80000, 4300, 4150]})
#IQR method of finding outliers
Q1=df.quantile(0.25)
Q3=df.quantile(0.75)
IQR=Q3-Q1
Lower=Q1-(1.5*IQR)
upper=Q3+(1.5*IQR)
outliers=df[(df<Lower)|(df>upper)]
print(outliers['Salary'].tolist())

[nan, nan, nan, 80000.0, nan, nan]

In [3]:
import pandas as pd
df = pd.DataFrame({
    "Age": [25, 30, -5, 1000, 40]})
valid=df[(df['Age']>=0) & (df['Age']<=120)]['Age']
middle=valid.median()
#print(middle)
#print(missing)
df['Age']=df['Age'].apply(lambda x: middle if x<0 or x>120 else x)
print(df)

    Age
0  25.0
1  30.0
2  30.0
3  30.0
4  40.0

In [4]:
import pandas as pd
df = pd.DataFrame({
    "Age": ["25", "30", "Twenty-Five", "45", "32"]
})
df=pd.to_numeric(df['Age'], errors='coerce' )
print(df)

0    25.0
1    30.0
2     NaN
3    45.0
4    32.0
Name: Age, dtype: float64

In [5]:
import pandas as pd
df = pd.DataFrame({
    "Income": [20000, 30000, 25000, 40000]})
min=df['Income'].min()
max=df['Income'].max()
normalised=(df['Income']-min)/(max-min)
print(normalised)

0    0.00
1    0.50
2    0.25
3    1.00
Name: Income, dtype: float64

In [6]:
import pandas as pd
df = pd.DataFrame({
    "Age": [5, 20, 67, 15, 40, 80]})
for Age in df['Age']:
    if Age<12:
        print('Child')
    elif 12 <= Age <=59:
        print('Adult')
    else:
        print('Senior')

Child
Adult
Senior
Adult
Adult
Senior

In [7]:
import pandas as pd
df = pd.DataFrame({
    "Income": [20000, 30000, 25000, 40000]
})
new_Income=df['Income']/1000
print(new_Income)

0    20.0
1    30.0
2    25.0
3    40.0
Name: Income, dtype: float64

In [8]:
import pandas as pd
df = pd.DataFrame({
    "Voted": ["Yes", "No", "Yes", "No"]
})
df["Voted_numeric"] = df["Voted"].map({"Yes": 1, "No": 0})
print(df["Voted_numeric"])

0    1
1    0
2    1
3    0
Name: Voted_numeric, dtype: int64

In [9]:
df = pd.DataFrame({
    "Pet": ["Dog", "Cat", "Lizard", "Dog", "Fish"]
})
df['Pet_rare']=df['Pet'].map({'Fish': 'other', 'Lizard': 'other'})
print(df["Pet_rare"])

0      NaN
1      NaN
2    other
3      NaN
4    other
Name: Pet_rare, dtype: object

In [10]:
df = pd.DataFrame({
    "Date": ["2024-01-05", "2024-06-30"]
})
df["Year"] = pd.to_datetime(df["Date"]).dt.year
df['month']=pd.to_datetime(df['Date']).dt.month
df['day']=pd.to_datetime(df['Date']).dt.day
print(df["Year"])
print(df['month'])
print(df["day"])

0    2024
1    2024
Name: Year, dtype: int32
0    1
1    6
Name: month, dtype: int32
0     5
1    30
Name: day, dtype: int32

In [11]:
df = pd.DataFrame({
    "Country": ["Uganda", "Kenya"],
    "2020": [50, 60],
    "2021": [55, 65]
})
long_df = pd.melt(df, id_vars="Country", var_name="Year", value_name="Value")
print(long_df)
wide_df= long_df.pivot(index='Country', columns='Year', values='Value')
print(wide_df)

  Country  Year  Value
0  Uganda  2020     50
1   Kenya  2020     60
2  Uganda  2021     55
3   Kenya  2021     65
Year     2020  2021
Country
Kenya      60    65
Uganda     50    55

In [12]:
df["City_State"] = ["Kampala_Uganda", "Nairobi_Kenya"]
df[["City", "Country"]] = df["City_State"].str.split("_", expand=True)
print(df['City_State'])
print(df[['City', 'Country']])

0    Kampala_Uganda
1     Nairobi_Kenya
Name: City_State, dtype: object
      City Country
0  Kampala  Uganda
1  Nairobi   Kenya

In [13]:
df1 = pd.DataFrame({"Name": ["Alice", "Bob"]})
df2 = pd.DataFrame({"Name": ["Charles", "Diana"]})
df_combined = pd.concat([df1, df2])
print(df1)
print(df2)
print(df_combined)

    Name
0  Alice
1    Bob
      Name
0  Charles
1    Diana
      Name
0    Alice
1      Bob
0  Charles
1    Diana

In [14]:
df1 = pd.DataFrame({"ID": [1, 2], "Name": ["Ali", "Becky"]})
df2 = pd.DataFrame({"ID": [1, 2], "Score": [90, 85]})
df_merged = pd.merge(df1, df2, on="ID")
print(df1)
print(df2)
print(df_merged)

   ID   Name
0   1    Ali
1   2  Becky
   ID  Score
0   1     90
1   2     85
   ID   Name  Score
0   1    Ali     90
1   2  Becky     85

In [15]:
df1 = pd.DataFrame({"StudentID": [1, 2], "Name": ["Ali", "Becky"]})
df2 = pd.DataFrame({"ID": [1, 2], "Score": [90, 85]})
df_merged = pd.merge(df1, df2, left_on="StudentID", right_on="ID")
print(df1)
print(df2)
print(df_merged)

   StudentID   Name
0          1    Ali
1          2  Becky
   ID  Score
0   1     90
1   2     85
   StudentID   Name  ID  Score
0          1    Ali   1     90
1          2  Becky   2     85